.poweroflike-ind_vote-ind {
  position: absolute;
  height: 54px;
  top: -54px;
  left: -30px;
  width: calc(100% + 60px);
  z-index: 2;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  animation: fadeVoteIndicator .2s linear;
}
.poweroflike-popup-ind_vote-ind {
  position: absolute;
  height: 54px;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  animation: fadePopupVoteIndicator .2s linear;
}
.hid-ind-anim_vote-ind {
  top: 0;
  animation: unfadeVoteIndicator .2s linear;
}
.hid-popup-ind-anim_vote-ind {
  top: 0;
  animation: unfadePopupVoteIndicator .2s linear;
}
.poweroflike-ind_vote-ind p {
  margin: 0;
}

.heart_vote-ind {
  width: 36px;
  height: 36px;
  background: url(/static/images/poweroflike-heart.svg) center no-repeat;
  cursor: pointer;
  margin-right: -7px;
}

.circle_vote-ind {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e6e6e6;
  top: 51%;
  transform: translateY(-50%);
  z-index: 1;
}

.circle-line_vote-ind {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 51%;
  transform: translateY(-50%);
  background: #e6e6e6;
}

.poweroflike-amount_vote-ind {
  width: 29px;
  height: 19px;
  font: 14px OpenSans-SemiBold;
  color: #0f181e;
}

@keyframes fadeVoteIndicator {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: -54px;
  }
}

@keyframes unfadeVoteIndicator {
  from {
    opacity: 1;
    top: -54px;
  }
  to {
    opacity: 0;
    top: 0;
  }
}

@keyframes fadePopupVoteIndicator {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 54px;
  }
}

@keyframes unfadePopupVoteIndicator {
  from {
    opacity: 1;
    top: 54px;
  }
  to {
    opacity: 0;
    top: 0;
  }
}


.slider_vote-ind {
  position: relative;
}
.wrapper_vote-ind {
  position: relative;
  width: calc(100% - 86px);
}
.rangeslider__handle {
  outline: none;
  top: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  position: absolute;
  top: 10px;
  background-color: #ff7500;
  height: 2px;
  z-index: 1;
}
.rangeslider .rangeslider__fill {
  box-shadow: none;
}
.rangeslider.rangeslider-horizontal {
  height: 22px;
  background: transparent;
  box-shadow: none;
  z-index: 2;
}
.rangeslider-horizontal .rangeslider__handle-tooltip {
  display: none;
}
.rangeslider-horizontal .rangeslider__handle {
  background: linear-gradient(to right, #ff7700, #ff1000);
  width: 22px;
  height: 22px;
  border: 1px solid #ffffff;
  box-shadow: 0 5px 10px 0 rgba(231, 72, 0, 0.3);
  top: 49%;
  z-index: 2;
}
.rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}
