.card-buttons_post {
    display: flex;
    justify-content: space-between;
}

.card-buttons_post > div {
    padding: 10px 17px;
    cursor: pointer;
}

.card-buttons_post > div:first-child {
    cursor: default;
}

.card-buttons_post > div:last-child {
    padding: 0;
}

.card-control-stop {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 21px;
    background: #f4f4f6;
}

.btn-like-wrapper_vote {
    padding: 10px 0 10px 17px;
}

.btn-like-wrapper_vote:hover .btn-like::before {
    transform: scale(1.15);
}

.card-pic.post_vid-con {
    margin-left: -160px;
}