.card-controls_post {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card-controls-border_post {
    border-top: 1px solid #f4f4f6;
    border-bottom: 1px solid #f4f4f6;
}

.card-preview_post {
    height: 61px;
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 1.48;
    font: 14px OpenSans-Light, Helvetica, Arial, sans-serif;
    padding: 0 20px;
}

.number-of-comments_post {
    cursor: pointer;
    border-top: 1px solid #f4f4f6;
    height: 50px;
    background: url('/images/comment_arrow.svg') 100% 50% no-repeat;
    margin: 0 20px;
}

.number-of-comments_post:hover {
    animation: comment_arrow .4s linear;
}

.number-of-comments_post p {
    transition: .2s opacity ease;
}

.number-of-comments_post p:hover {
    opacity: .6;
}

@keyframes comment_arrow {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 97% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.number-of-comments_post p {
    font: 12px OpenSans-Regular;
    line-height: 50px;
}

.card-buttons_post {
    display: flex;
    justify-content: space-between;
}

.card-buttons_post > div {
    padding: 10px 17px;
    cursor: pointer;
}

.card-buttons_post > div:first-child {
    cursor: default;
}

.card-buttons_post > div:last-child {
    padding: 0;
}

.card-control-stop {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 21px;
    background: #f4f4f6;
}

.btn-like-wrapper_vote {
    padding: 10px 17px;
    cursor: pointer;
}

.btn-like-wrapper_vote:hover .btn-like::before,
.btn-like-wrapper-comment_vote:hover .comment.btn-like::before {
    transform: scale(1.15);
}

.gallery-indicator_post {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    background: url('/images/gallery-indicator.svg') center no-repeat;
}

.video-time-indicator_post {
    position: absolute;
    top: 8px;
    right: 35px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.video-indicator_post {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    background: url('/images/post/video.svg') center no-repeat;
}

.card-pic.post_vid-con {
    margin-left: -160px;
}