.component_trx-filter {
    position: relative;
    margin-left: 30px;
}

.container_trx-filter {
    width: 200px;
    border-radius: 10px;
    top: 50px;
    left: -160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    overflow: hidden;
}