.header_wallet {
    font: 22px OpenSans-SemiBold;
    width: 100%;
    height: 90px;
    padding-top: 35px;
    color: #0f181e;
    border-bottom: 1px solid #f4f4f6;
}

.header_wallet {
    height: 100px;
}

.body_wallet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.transaction-history_wallet {
    height: 400px;
}

@media (max-width: 650px) {
    .body_wallet {
        justify-content: center;
    }
}

.trx-history_wallet {
    border-radius: 10px;
    background-color: #ffffff;
}