.container_trx-history {
    background-color: white;
    border-radius: 10px;
    border: solid 1px #e7e7e7;
    margin: 20px 0;
}

.header_trx-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 30px;
    border-bottom: 1px solid #f4f4f6;
}

.info_trx-history {
    color: #0f181e;
}

.filter_trx-history {
    width: 40px;
    height: 40px;
}

.title_trx-history {
    font: 22px OpenSans-SemiBold;
    line-height: 27px;
}

.description_trx-history {
    margin-top: 10px;
    font: 14px OpenSans-Light;
}