.container_lik-lis {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
  padding: 0 20px;
}

.header_lik-lis {
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f6;
}

.close-button_lik-lis {
  float: right;
}

.title_lik-lis {
  font-size: 14px;
  font-family: OpenSans-Bold,Helvetica,Arial,sans-serif;
  line-height: 32px;
}

.body_lik-lis {
  position: relative;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 620px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@media (max-width: 620px) {
  .body_lik-lis {
    max-width: 320px;
  }
}
