.container_lik-lis {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
  max-height: 98vh;
}
