.saving_follow {
    width: 140px;
    font: 14px OpenSans-SemiBold;
    border: 1px solid transparent;
    line-height: 1;
    border-radius: 6px;
    transition: .2s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-button_follow {
    background: linear-gradient(90deg, #ff7904, #ff1605);
    border: 1px transparent;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(231, 72, 0, .3);
}

.follow-button_follow:active {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.follow-button_follow:hover {
    box-shadow: 0 5px 12px 0 rgba(231, 72, 0, .3);
}

.unfollow-button_follow {
    background: #fff;
    color: #0f181e;
    padding: 12px 10px;
    border: 1px solid #e7e7e7;
}

.unfollow-button_follow:active {
    color: #0f181e;
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

.unfollow-button_follow:hover {
    outline: 0;
    text-decoration: none;
    color: #e74800;
}

.saving_follow {
    background: #f1f1f1;
    cursor: default;
    opacity: .3;
    color: #0f181e;
    padding: 12px 10px;
}