.body_transfer > div {
    margin-top: 15px;
}

.form-line_transfer {
    width: 100%;
    overflow: hidden;
}

.label_transfer {
    width: 100%;
    height: 25px;
    font: 12px OpenSans-Light;
    color: #979b9e;
    padding-top: 5px;
}

.field_transfer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    border: solid 1px #f4f4f6;
    overflow: hidden;
}

.at_transfer {
    width: 40px;
    background: #ffffff url('/images/wallet/@.png') no-repeat center;
    background-size: 14px 14px;
}

.field_transfer > input {
    flex-grow: 1;
    border: solid 1px #f4f4f6;
    padding-left: 10px;
    background-color: #fafafa;
    font: 14px OpenSans-Light;
    color: #979b9e;
}

.field_transfer > input:disabled {
    background-color: #f4f4f6;
}

.field_transfer > input::placeholder, .body_transfer textarea::placeholder  {
    font: 12px OpenSans-Light;
    color: #979b9e;
}

.body_transfer textarea {
    width: 100%;
    height: 80px;
    resize: none;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fafafa;
    border: solid 1px #f4f4f6;
    padding: 10px;
    font: 14px OpenSans-Light;
    color: #979b9e;
    transition: .3s;
}

.add-memo_transfer > span {
    font: 12px OpenSans-Light;
    color: #d0021b;
    cursor: pointer;
}

.checkbox-field_transfer {
    display: flex;
    justify-content: flex-start;
}

.checkbox-field_transfer {
    font: 12px OpenSans-Light;
    color: #979b9e;
}

.checkbox_transfer {
    width: 20px;
    height: 20px;
    border: solid 1px #979b9e;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox_transfer .save_transfer {
    width: 16px;
    height: 16px;
    background-color: #d0021b;
}