.body_transfer {
    padding-top: 20px;
}

.body_transfer > div {
    margin-top: 5px;
}

.label_transfer {
    font: 12px OpenSans-Light;
    color: #979b9e;
    margin: 0 0 3px;
}

.form-line_transfer {
    width: 100%;
    overflow: hidden;
}

.body_transfer > div.gray_transfer {
    margin-top: 25px;
}

.field_transfer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    border: solid 1px #f4f4f6;
    overflow: hidden;
}

.at_transfer {
    width: 40px;
    height: 40px;
    background: #ffffff url('/images/wallet/@.png') no-repeat center;
    background-size: 14px 14px;
}

.field_transfer > input {
    flex-grow: 1;
    border: solid 1px #f4f4f6;
    padding-left: 10px;
    background-color: #fafafa;
    font: 14px OpenSans-Light;
    color: #979b9e;
}

.field_transfer > input:disabled {
    background-color: #f4f4f6;
}

.field_transfer > input::placeholder, .body_transfer textarea::placeholder  {
    color: #979b9e;
}

.recipient-error_transfer {
    display: block;
    height: 20px;
    color: #d0021b;
    margin: 0;
    font-size: 12px;
    width: 100%
}

.body_transfer textarea {
    width: 100%;
    height: 80px;
    resize: none;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fafafa;
    border: solid 1px #f4f4f6;
    padding: 10px;
    font: 14px OpenSans-Light;
    color: #979b9e;
    transition: .3s;
}

.add-memo_transfer {
    margin-bottom: 20px;
}

.add-memo_transfer > span {
    font: 12px OpenSans-Light;
    color: #d0021b;
    cursor: pointer;
}

.inputs-label {
    height: 17px;
    margin: 0 0 3px;
    font: 12px OpenSans-Regular;
    color: #979b9e;
}

.body_transfer > div.active-key_transfer {
    margin: 25px 0 30px;
}
