.container_transfer {
    width: 500px;
    max-width: 100vw;
    background-color: white;
    border-radius: 10px;
    padding: 25px 30px;
}

.header_transfer {
    height: 45px;
    border-bottom: 1px solid #f4f4f6;
    font: 14px OpenSans-Bold;
    color: #0f181e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.username_transfer {
    color: #e74800;
}

.body_transfer {
    padding-bottom: 15px;
    border-bottom: 1px solid #f4f4f6;
}

.body_transfer > div {
    margin-top: 15px;
}

.form-line_transfer {
    width: 100%;
    overflow: hidden;
}

.label_transfer {
    width: 100%;
    height: 25px;
    font: 12px OpenSans-Light;
    color: #979b9e;
    padding-top: 5px;
}

.field_transfer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    border: solid 1px #f4f4f6;
    overflow: hidden;
}

.at_transfer {
    width: 40px;
    background: #ffffff url('/images/wallet/@.png') no-repeat center;
    background-size: 14px 14px;
}

.field_transfer > input {
    flex-grow: 1;
    border: solid 1px #f4f4f6;
    padding-left: 10px;
    background-color: #fafafa;
    font: 14px OpenSans-Light;
    color: #979b9e;
}

.field_transfer > input:disabled {
    background-color: #f4f4f6;
}

.field_transfer > input::placeholder, .body_transfer textarea::placeholder  {
    font: 12px OpenSans-Light;
    color: #979b9e;
}

.body_transfer textarea {
    width: 100%;
    height: 80px;
    resize: none;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fafafa;
    border: solid 1px #f4f4f6;
    padding: 10px;
    font: 14px OpenSans-Light;
    color: #979b9e;
    transition: .3s;
}

.buttons_transfer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.buttons_transfer > button {
    margin: 10px 0 0 10px;
}

.add-memo_transfer > span {
    font: 12px OpenSans-Light;
    color: #d0021b;
    cursor: pointer;
}

.checkbox-field_transfer {
    display: flex;
    justify-content: flex-start;
}

.checkbox_transfer {
    width: 20px;
    height: 20px;
    border: 1px solid;
    cursor: pointer;
}

.checkbox_transfer.save_transfer {
    background-color: black;
}

@media (max-width: 400px) {
    .buttons_transfer {
        justify-content: center;
    }
}