.container_transfer {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 25px 30px;
}

.header_transfer {
    height: 45px;
    border-bottom: 1px solid #f4f4f6;
    font: 14px OpenSans-Bold;
    color: #0f181e;
}

.title_transfer {

}