.body_promote {
    margin-top: 15px;
}

.error_promote {
    position: absolute;
    color: #d0011b;
    font: 12px OpenSans-Regular;
    bottom: -23px;
}

.loading_promote {
    width: 100%;
    height: 25px;
    color: #979b9e;
    font: 12px OpenSans-Regular;
}

.no-tokens_promote {
    padding: 7px 10px;
    border-radius: 6px;
    background-color: #fafafa;
    font: 10px OpenSans-Regular;
    color: #979b9e;
    margin-bottom: 10px;
    max-width: 440px;
    text-align: center;
}

.amount-input_promote {
    margin-bottom: 10px;
}
