.body_send-bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.bot-logo_send-bid {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid #ffffff;
    margin-right: 20px;
    background: center no-repeat;
    background-size: cover;
}

.bot-logo_send-bid::after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    border: 1px solid #f0f0f0;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    border-radius: 50%;
}

.eye-switcher_promote-mod {
    width: 30px;
    height: 30px;
    background: center no-repeat;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 510px) {
    .body_send-bid {
        flex-direction: column;
    }
    .bot-logo_send-bid {
        margin: 0 0 25px 0;
    }
}