.body_use-lis {
    display: flex;
    flex-wrap: wrap;
}

.tab_wrapper div div:last-child {
    right: -12px !important;
}

.spinner_use-lis {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 815px) {
    .body_use-lis {
        justify-content: center;
    }
}
