.for-background_not-found {
    height: calc(100vh - 120px);
    background: url('/images/notFound/mountains-background.svg') center no-repeat;
    background-size: cover;
    min-height: 300px;
}

.wrapper_not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.title_not-found {
    font: 62px OpenSans-Semibold;
    line-height: 0.44;
    letter-spacing: normal;
    color: #0f181e;
    margin: 0 0 35px 0;
}

.subtitle_not-found {
    font: 32px OpenSans-Light;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #0f181e;
    margin: 0 0 40px 0;
}

.btn_not-found {
    font: 12px OpenSans-Regular;
    width: 220px;
    height: 40px;
    border-radius: 100px;
    background-image: linear-gradient(to right, #ff7700, #ff1000);
    cursor: pointer;
    color: #ffffff;
}

@media (max-width: 650px) {
    .for-background_not-found {
        background: url('/images/notFound/mountains-background.svg') center bottom no-repeat;
        background-size: 100vw;
    }

    .wrapper_not-found {
        max-width: 80vw;
    }

    .title_not-found {
        font: 46px OpenSans-Semibold;
        margin: 0 0 15px 0;
    }

    .subtitle_not-found {
        font: 20px OpenSans-Light;
        margin: 0 0 30px 0;
    }

    .btn_not-found {
        font: 11px OpenSans-Regular;
        width: 200px;
        height: 35px;
        margin-bottom: 20px;
    }
}