.container_choose-token {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin: -5px;

}

.label_choose-token {
    height: 17px;
    margin: 0 0 3px;
    font: 12px OpenSans-Regular;
    color: #979b9e;
}

.container_choose-token > div {
    flex-basis: 210px;
    min-width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
}

.select_choose-token {
    width: 210px;
    position: relative;
}

.select_choose-token::before {
    content: '';
    position: absolute;
    background: url('/images/promoteModal/select-arrows.svg') center no-repeat;
    width: 8px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    pointer-events: none;
}

.select_choose-token::after {
    content: '';
    position: absolute;
    background-color: #f4f4f6;
    width: 1px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    pointer-events: none;
}

.select_choose-token select {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #f4f4f6;
    cursor: pointer;
    color: #e74800;
    font: 14px OpenSans-Bold;
}

.select_choose-token select.disabled {
    cursor: unset;
}