.container_body {
    min-height: calc(100vh - 60px);
    height: 1px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.for-space-between {
    position: relative;
    min-height: calc(100% - 60px);
}