.container_body {
    min-height: calc(100vh - 60px);
    height: 1px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.scroll_body {
    min-height: calc(100%);
    display: flex;
    flex-direction: column;
}

.for-space-between {
    position: relative;
    flex: 1;
}