.wrapper_men-ite {
  flex-grow: 1;
  flex-basis: 10px;
  cursor: pointer;
}

.box_men-ite {
  width: 100%;
  height: 55px;
  margin: auto;
  display: flex;
}

.img_men_ite {
  width: 20px;
  height: 24px;
  margin: auto;
}

.text-menu_men-ite {
  margin: auto;
}
