.pic_ava-com {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
  background-size: cover;
  background-position: 50%;
}
