.pic_ava-com {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    background-size: cover;
    background-position: 50%;
    margin-right: 10px;
}

.user-information .pic_ava-com {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.user-information .pic_ava-com img {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.border-indicator_ava-com {
    position: absolute;
    transform: rotate(-90deg);
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    max-width: 112px;
    max-height: 112px;
}

.tip-voting-power_ava-com {
    position: absolute;
    width: 114px;
    height: 114px;
    top: -7px;
    left: -7px;
    border-radius: 50%;
    z-index: 4;
    text-align: center;
    background: #f7f7f7;
}

.tip-hide_ava-com {
    animation: hideTip 3s linear;
    animation-delay: 1s;
}

.tip-voting-power_ava-com p {
    margin-top: 36px;
}

@keyframes hideTip {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
