.pic_ava-com {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  background-size: cover;
  background-position: 50%;
}

.border-indicator_ava-com {
  position: absolute;
  transform: rotate(-90deg);
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.tip-voting-power_ava-com {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: #f7f7f7;
  display: none;
  animation: hideTip 3s linear;
  animation-delay: 1s;
}

.tip-voting-power_ava-com p {
  margin-top: 29px;
}

@keyframes hideTip {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
