.container_description {
    padding: 20px 20px 15px 20px;
    font: 14px OpenSans-Light
}

.container_description p {
    text-align: left;
}

.collapse-opened {
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.collapse-closed {
    position: relative;
    overflow: hidden;
    max-height: 58px;
}

.collapse-closed .lnk-more {
    background: white;
    position: absolute;
    top: 38px;
    right: 75px;
}

.collapse-opened .lnk-more {
    display: none;
}

.lnk-more {
    color: #489fff;
    display: inline;
}

.lnk-more:hover {
    color: #007aff;
}

.lnk-more:before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 19px;
    transform: translateX(-100px);
    background: linear-gradient(270deg, #fff 2%, transparent);
}

.lnk-more:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 19px;
    background: white;
}

.open-promote_description {
    height: 40px;
    background: #ff1e00;
    font: 12px OpenSans-Semibold;
    text-align: center;
    color: #ffffff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.open-promote_description:hover {
    background-color: #ff3c00;
}

.open-promote_description:active {
    background-color: #cc1a00;
}

@media (max-width: 815px) {
    .container_description {
        padding: 0 35px 15px 20px;
    }
}
