.container_menu {
    padding: 5px 10px;
    background-color: #FFF;
    border-radius: 4px;
}

.header_menu {
    position: relative;
    height: 44px;
    text-align: left;
}

.title_menu {
    font: 14px OpenSans-Semibold;
    color: #0f181e;
    line-height: 40px;
    margin-left: 10px;
}

.cross-wrapper_menu {
    cursor: pointer;
    height: 32px;
    width: 32px;
    top: 4px;
    right: 0;
    border-radius: 4px;
    position: absolute;
}

.cross_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: url(/images/sprite_svg1910.svg) no-repeat 3% 99.8%;
}

.content_menu {
    display: flex;
    flex-direction: row;
}

.full-screen-content_menu {
    display: flex;
    overflow: auto;
    flex: 1;
    flex-direction: column;
}

.wrapper-close-button_menu {
    float: right;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.close-button_menu {
    margin-top: -3px;
    width: 16px;
    height: 16px;
}

.footer_menu {
    width: 100%;
    height: 45px;
    font-size: 12px;
    color: #979b9e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.filler_menu {
    flex-grow: 1;
}
