.container_menu {
  width: 500px;
  height: 180px;
}

.full-screen-container_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.header_menu {
  width: 100%;
  height: 40px;
  float: none;
}

.content_menu {
  height: 100px;
  display: flex;
}

.full-screen-content_menu {
  display: flex;
}

.wrapper-close-button_menu {
  float: right;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.close-button_menu {
  border: 0;
  background-size: 4.4em 47.2em;
  background: url('/static/images/sprite_svg1910.svg') no-repeat -.2em -2.49em;
  margin: 10px;
  width: 16px;
  height: 16px;
}

.footer_menu {
  width: 100%;
  height: 40px;
  float: none;
}
