.container_menu {
  margin-left: 20px;
  margin-right: 20px;
}

.header_menu {
  height: 40px;
  line-height: 3;
}

.title_menu {
  font-size: 14px;
  color: #0f181e;
  font-weight: bold;
}

.content_menu {
  display: flex;
  flex-direction: row;
}

.full-screen-content_menu {
  display: flex;
  overflow: auto;
  flex: 1;
  flex-direction: column;
}

.wrapper-close-button_menu {
  float: right;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.close-button_menu {
  margin-top: 12px;
  width: 16px;
  height: 16px;
  float: right;
}

.footer_menu {
  width: 100%;
  height: 45px;
  font-size: 12px;
  color: #979b9e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.filler_menu {
  flex-grow: 1;
}
