.thumb-comment_comment-post-not {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('/images/comment_notification.svg') center no-repeat;
    bottom: -1px;
    left: -6px;
}