/*Posts styles*/
/* Подключение шрифта Google */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic");

.search-results {
  height: 100%;
// overflow: scroll;
}

/* Стили ссылок внутри плиток */
.item a {
  text-decoration: none;
  color: #359CC6;
  margin: 0 10px;
}

/* Стили ссылок при наведении */
.item a:hover {
  color: #E88F00;
  border-bottom: 1px dotted #9F1D35;
}

.post-container{
  height: 350px;
  margin-top: 30px;
  background-color: white;
  transition: 0.1s linear;
  margin-right: 5%;
  padding: 0 !important;

  .body-row {
    height: 250px;
  }
}

@media(min-width: 1200px){
  .container{
    max-width: 1140px;
  }
}

@media(max-width: 1200px){
  .container{
    max-width: 940px;
  }
}

@media(max-width: 991px){
  .container{
    max-width: 940px;
  }
}

@media (min-width: 992px){
  post-details:nth-child(3n-2){
    margin-left: 8%;
  }
}

@media (max-width: 991px){
  post-details:nth-child(n){
    margin-left: 25%;
  }
}

@media (max-width: 767px){
  post-details:nth-child(n){
    margin-left: 17.5%;
  }
}

@media (max-width: 544px){
  post-details:nth-child(n){
    margin-left: 13%;
  }
}

.post-container:hover{
  box-shadow: 0 0 30px #C2C2C2;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.post-img {
  clear: inherit;
  max-width: 100%;
  max-height: 250px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.post-footer{
  margin-top: 5px;
}

.clickable{
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.tags-urls{
  font-size: small;
  color: darkgrey;
}

.payout-reward{
  font-size: medium;
  color: darkgrey;
}

/* Nav */
.header-block {
  background: transparent;
  border: transparent;
  margin-bottom: 0;
}

.nav-bar-toggle-button {
  padding: 2px 0;
}

.search-image-block {
  .search-image {
    width: 20px;
    height: 20px;
  }
}

.input-group {
  padding-top: 10px;
  &input {
    border-radius: 4px;
  }
}

#search-button{
  width: 150%;
  height: 100%;
  background: url(/src/images/search.png) 40% 40% no-repeat;
  background-size: contain;
}

#notification-button{
  width: 110%;
  height: 100%;
  background: url(/src/images/notification.png) 40% 40% no-repeat;
  background-size: contain
}

#navigation-panel{
  background-color: white;
  min-height: 50px;
}

#navbarNavDropdown{
  min-height: 40px;
}

.show-on-big-screen{
  display: block;
}

.show-search-on-big-screen{
  display: flex;
  flex-direction: row;
}

.show-on-small-screen{
  display: none;
}

@media (min-width: 200px) and (max-width: 992px) {
  .show-search-on-big-screen{
    display: none;
  }

  #navigation-panel{
    padding: 0;
  }

  .show-on-big-screen{
    display: none;
  }

  .show-on-small-screen{
    display: block;
  }
}

.nav-bar-buttons{
  outline: none;
  background: transparent;
  border: transparent;
}

.auth-component-margin{
  margin-right: 10%
}

.auth-component-padding{
  padding: 0 !important;
}

/* sing */

.sing-container {
  display: flex;
  justify-content: center;
}

.profile-image{
  width: 15%;
  height: 90%
}

@media (min-width: 200px) and (max-width: 992px) {
  .profile-image{
    width: 15%;
    height: 40px;
  }
}

.check-infinity {
  overflow: auto;
}

/*Popup*/
.modal-post-img{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.fixed-overlay-modal {
  text-align: center;
  white-space: nowrap;
}

.fixed-overlay-modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.my-modal {
  display: inline-block;
  vertical-align: middle;
}

.modal-content {
  margin: 50px;
  padding: 20px;
  width: 93%;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  color: #000;
}

.user-name-url{
  margin-left: 20px;
}

.close-button{
  display: inline-block;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-right: 7%;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.2rem;
}

.close-button:focus{
  outline: none;
}

.close-button:hover,
.close-button:active {
  color: dimgrey;
  outline: none;
}

.payout-reward{
  font-size: medium;
  color: darkgrey;
}

.tags-urls{
  font-size: small;
  color: darkgrey;
  margin-right: 15px
}

.post-modal-info{
  padding-top: 15px;
  float: right;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.popup-body {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 15px;
}

.popup-image-block {
  flex-grow: 7;

  .popup-image {
    max-width: 100%;
    max-height: 100%;
  }
}

.custom-popup {
  display: flex;
  flex-direction: column;
}

.post-popup-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 250px;
  padding:  0 15px;

  .author-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .author-name {
      margin-left: 5px;
    }
  }

  .post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
      max-width: 45%;
    }
  }

  .rating-block {
    cursor: pointer;

    .rating-text{
      font-size: medium;
    }
    .star {
      color: skyblue;
    }
    .filled {
      color: #1e90ff;
    }
    &:hover {
      .star {
        color: #1e90ff;
      }
    }
  }

  .hash-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .popup-comments {
    display: flex;
    flex-grow: 1;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
  content: ''
}
