  .main-container-chuldren {
    background-color: #F8F8F8;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
    margin-right: 0;
  }

  .overflow--hidden {
    overflow: hidden;
  }

  .item.nav-item a:hover {
    border-bottom: none !important;
  }

  .user-information .count {
    font-size: 22px !important;
  }

  .btn:not(.btn-index):hover{
    border-color: transparent !important;
  }

  .btn:not(.btn-index):active{
    border-color: transparent !important;
  }

  .btn:not(.btn-index):focus{
    border-color: transparent !important;
  }

  .forAdult {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    font: 27px OpenSans-Light;
    width: 100%;
    height: 100%;
    opacity: .955;
    cursor: pointer;
  }

  .forAdult2 {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    opacity: .955;
    padding: 0 25px;
  }
  .forAdultInner {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    min-width: 60%;
    top: 50%;
    left: 50%;
  }
  .forAdult2 .par1 {
    margin-bottom: 20px;
    color: black;
    font: 27px OpenSans-Light;
  }
  .forAdult2 .par2 {
    margin-bottom: 30px;
    color: #696969;
    font: 14px OpenSans-Regular;
  }

  .sub-rotate-button {
    position: absolute;
    z-index: 5;
    top: 22%;
    right: 5%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: url("../../static/images/rotate_button.png") no-repeat center;
    transition: .2s all ease;
  }

  .likeMoneyPopup {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  #upload-file {
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .text-white {
    color: white;
  }

  .text--red {
	color: #d0011b;
  }

  .help-block__notice {
	  margin-bottom: 1rem;
  }

  .loading-block {
	  position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  input.autofil--gray:-webkit-autofill:hover,
  input.autofil--gray:-webkit-autofill:focus,
  input.autofil--gray:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fafafa inset;
  }

  .blur-blocker {
    pointer-events: none;
    transform: 1s;
    -webkit-filter: blur(1.05px) grayscale(50%);
    filter: blur(1.05px) grayscale(50%);
  }

  .position--relative {
    position: relative;
  }
  .position--absolute {
    position: absolute !important;
  }
  .break--word {
    word-wrap: break-word;
  }

  .card-wrap span a, .post-description span a, .comment-text span a {
    transition: .2s all ease;
  }
  .card-wrap span a:hover, .post-description span a:hover, .comment-text span a:hover {
    opacity: .65;
  }

  .modal-header .modal-title {
    text-align: center;
  }

  .loader-blocker{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #e74800;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .loaderInComments {
    position: absolute;
    right: 14px;
    top: 17.7px;
    width: 40px;
    height: 40px;
  }
  input {
	  outline: none;
  }

  .form-control {
	  box-shadow: none;
  }

  .form-control:focus {
	  box-shadow: none;
  }

  .has-error .form-control:focus {
	  box-shadow: none;
  }

  .has-error .form-control {
	  box-shadow: none;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  button {
    outline: none !important;
  }

  .g-main {
    min-height: calc(100vh - 60px);
  }

  .user-card {
    min-width: 297px !important;
    padding: 20px !important;
  }

  .card-field {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 30px 30px 0 rgba(204,204,204,.5);
    margin-bottom: 40px;
  }

  h2.card-field__heading {
    margin: 0;
  }

  .card-field__header {
    padding: 4rem 0 2.2rem;
    border-bottom: 1px solid #f4f4f6;
  }

  .card-field__body {
    padding: 4rem 3.5rem;
  }

  .container-settings {
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container-settings__content-wrapper{
    position:relative;
    padding-top: 80px;
  }

  .text--center {
    text-align: center;
  }

  .settings-switcher {
    display: flex;
    justify-content: space-between;
  }

  .btn-flag {
    position: relative;
    width: 21px;
    height: 21px;
    border: none;
    display: block;
    padding: 0;
    background: 0 0;
  }

  .btn-primary {
    border: 1px transparent !important;
    background: linear-gradient(to right, #85cbef, #1294f6) !important;
    transform: 1.5s;
  }

  .btn-success {
    border: 1px transparent !important;
    background: linear-gradient(to right, #b1f369, #5ca40e) !important;
  }

  .btn-primary:hover {
    transform: 1.5s;
    box-shadow: 0 5px 15px 0 rgba(18,148,226,.3);
  }

  .btn-index, .btn-default, .name, .btn-primary {
    transition: .2s all ease;
  }
  .btn-index:hover {
    color: #e74800 !important;
  }
  .btn-default:hover {
    box-shadow: 0 5px 12px 0 rgba(231,72,0,.3) !important;
  }
  .btn-flag::before {
    content: url(/static/images/flagFalse.svg);
  }
  .btn-default:active {
    box-shadow: none !important;
  }
  .btn-default {
    border: 1px transparent !important;
    background: linear-gradient(to right, rgb(255, 121, 4), rgb(255, 22, 5)) !important;
  }
  .btn-default-popup {
    border: none !important;
    padding: 9px 47px !important;
    font: 14px OpenSans-Regular !important;
  }

  .btn-flag.marked::before {
    content: url(/static/images/flagTrue.svg);
  }

  .btn-like:hover::before {
    -webkit-transform: scale(1.15);
  }

  .pm-wrap {
    background: rgba(0, 0, 0, .9) !important;
  }

  .card-wrap {
    min-width: 257px !important;
  }
  .rectangle_comment span {
    padding: 2.5px 20px 3.5px 20px;
    border-radius: 12px;
    background-color: #ffffff;
    border: solid 1px #ececee;
    transition: .15s all ease;
  }
  .rectangle_comment span:hover {
    color: #e74800;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    .post__description-container .user-wrap {
      padding: 20px !important;
    }
    .comment-head .user-wrap {
      padding: 20px 0 !important;
    }
    .post-single .post-comment {
      position: absolute !important;
    }
    .list-scroll {
      margin-bottom: 82px !important;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    header .container {
      margin: 0;
      width: 100%;
      padding: 0 35px;
    }
    .search-panel {
      padding: 0 40px;
    }
    .nav-tabs {
      margin-top: -15px !important;
    }
    .tab-head {
      padding: 10px 30px 16px 30px !important;
    }
    .for-justification {
      padding: 0 35px !important;
    }
    .buttons-container {
      display: flex;
      justify-content: center;
    }

    .g-main_i {
      width: 750px !important;
    }
    .post-card {
      max-width: 355px !important;
      width: 355px !important;
    }
    .card-body {
      width: 355px !important;
    }
    .post__description-container {
      max-width: none !important;
    }
    .sub-rotate-button {
      top: 25%;
      right: 6%;
    }
  }

  @media screen and (max-width: 767px) {
    header .container {
      margin: 0;
      width: 100%;
      padding: 0 25px;
    }
    .search-panel {
      padding: 0 30px;
    }
    .nav-tabs {
      margin-top: -12.5px !important;
    }
    .tab-head {
      font-size: 14px !important;
      padding: 10px 25px 16px 25px !important;
    }
    .for-justification {
      padding: 0 25px !important;
    }
    .user-card {
      padding: 20px 10px !important;
      margin: 0 15px !important;
    }
    .container-settings {
      position: relative;
      top: 40px;
    }
    .container-settings__content-wrapper{
      padding-top: 20px;
    }
    .lead {
      margin-top: 4% !important;
    }
    .card-field.about {
      max-width: none !important;
      margin: 0 !important;
    }
    .modal-dialog {
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
    }
    .modal-content {
      width: 100%;
    }
    .post-single {
      border-radius: 0 !important;
    }
    .crossWrapper {
      display: block;
      background-color: #fafafa;
      width: 100%;
      height: 60px;
      padding: 10px 44px 10px 20px;
    }
    .modalButton {
      color: #0f181e;
      position: absolute;
      right: 7px;
      top: 23px;
      width: 23px;
      height: 23px;
      background: url(/static/images/sprite_svg1910.svg) no-repeat 4% 102%;
    }
    .modalButtonWrapper {
      position: absolute;
      height: 60px;
      width: 40px;
      right: 0;
      top: 0;
    }
  }

  @media screen and (max-width: 568px) {
    .youtube-embed iframe {
      width: 100%;
    }
    .paddingNo {
      padding: 0 !important;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 420px) {
    .modal-title {
      padding: 20px 0 !important;
      font-size: 12px !important;
    }
    .user-card {
      min-width: 230px !important;
      padding: 20px 10px !important;
      margin: 0 15px !important;
    }
    .section.hamburger {
      margin-left: 18px !important;
    }
    .wrap-hamburger {
      padding-left: 12px !important;
    }
    .tabs-width {
      padding: 10px 11px 16px 11px !important;
    }
    .container-settings {
      position: relative;
      top: 40px;
    }
    .lead {
      margin-top: 12% !important;
    }
    .g-content {
      padding: 22px 0 40px 0 !important;
    }
    .card-field.about {
      margin: 0 !important;
    }
    .post-single {
      border-radius: 0 !important;
    }
    .youtube-embed iframe {
      width: 100%;
    }
    .paddingNo {
      padding: 0 !important;
    }
  }

  @-webkit-keyframes flagLoading
  {
    0%{
      -webkit-transform:scale(1);
      transform:scale(1)
    }
    50%{
      -webkit-transform:scale(.7);
      transform:scale(.7)
    }
    100%{
      -webkit-transform:scale(1);
      transform:scale(1)
    }
  }
  @keyframes flagLoading
  {
    0%{
      -webkit-transform:scale(1);
      transform:scale(1)
    }
    50%{
      -webkit-transform:scale(.7);
      transform:scale(.7)
    }
    100%{
      -webkit-transform:scale(1);
      transform:scale(1)
    }
  }

  .btn-flag.loading::before{
    display:block;
    -webkit-animation:flagLoading 2s infinite linear;
    animation:flagLoading 2s infinite linear;
  }

  .wrap-btn {
    padding-left: 14px;
  }

  .buttons-row .wrap-btn {
    margin-left: 14px;
  }

  .margin-top--small {
    margin-top: 2rem;
  }

  .float--left {
    float: left;
  }

  .nav-tabs {
    border-bottom-color: #f4f4f6;
  }

  .upload {
      padding-top: 40px;
  }

  @keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
  }

  .saving span {
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
  }

  .saving span:nth-child(2) {
      animation-delay: .2s;
  }

  .saving span:nth-child(3) {
      animation-delay: .4s;
  }

/* NEW */


/*!
 * Etalon v0.0.1
 * 2015-2017 Dmitry Sachko ()
 * Based on Bootstrap 3.3.0
 */

 /* Modify */
 .wrap-description {
   height: inherit;
   min-height: 400px;
 }

 .post {
  margin: 0 auto;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  min-height: 480px;
 }

 .modal-content {
   max-width: 100%;
 }

 .modal-dialog {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

  .modal-post-single .modal-dialog, .modal-post .modal-dialog {
    width : 90vw;
  }

  .post__image-container {
    min-width: 90vw;
    z-index: 3;
  }

  .post__image-container img {
    max-height: 460px;
    max-width: 680px;
  }

 @media (min-width: 769px) {
  .post__image-container {
    min-width: 680px;
  }

  .post__image-container img {
    max-height: 90vh;
  }
 }

 .post__description-container {
  max-width: 680px;
 }

 @media (min-width: 1024px) {
  .modal-dialog {
    max-height: calc(90vh - 60px);
  }
  .post{
    flex-direction: row;
  }
  .post__description-container {
    width: 380px;
  }
  .post__image-container {
    min-width: auto;
    max-width: calc(724px - 10vw);
  }
  .post__image-container img {
    min-width: 300px;
    width: auto;
    max-width: calc(724px - 10vw);
  }
  .list-scroll {
   display: flex;
   flex-direction: column;
   flex: 1 1 0px;
   order: 1
  }
  .post-single .post-comment {
   order: 2;
  }
 }

 @media (min-width: 1124px) {
  .post__image-container {
    min-width: auto;
    max-width: calc(824px - 10vw);
  }
  .post__image-container img {
    min-width: 300px;
    width: auto;
    max-width: calc(824px - 10vw);
  }
 }

 @media (min-width: 1224px) {
  .post__image-container {
    min-width: auto;
    max-width: calc(924px - 10vw);
  }
  .post__image-container img {
    min-width: 300px;
    width: auto;
    max-width: calc(924px - 10vw);
  }
 }

 @media (min-width: 1324px) {
  .post__image-container {
    min-width: auto;
    max-width: calc(1024px - 10vw);
  }
  .post__image-container img {
    min-width: 300px;
    width: auto;
    max-width: calc(1024px - 10vw);
  }
 }

 .modal-post-single .modal-content {
   padding : 0;
 }

 .post-single {
   height: inherit;
   border-radius: 4px;
   overflow: hidden;
 }

 .modal-post-single .modal-dialog {
  padding: 5vh 0 5vh 0;
}

.post__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
}

.padding--none {
  padding: 0;
}

.footer__google-play {
  width: 18px;
}

.posts-list {
  padding-top: 30px;
}

.nav {
  margin : 0;
  z-index: 6;
}

.g-header {
  position: fixed;
  width: 100vw;
  padding-right: 0px;
  z-index: 1001;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
}

.g-main {
  padding-top: 60px;
}

.modal {
  right: calc(100% - 100vw);
}

.modal-backdrop.in {
  opacity: .7;
}

.block--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.block--right-top {
  position: absolute;
  right: 0;
  top: 0;
}

.box--small {
  padding: 2rem;
}

@keyframes fadeShare {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showShare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post__image-container .post__share-button {
  display: none;
  animation-name: fadeShare;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.post__image-container:hover .post__share-button {
  display: block;
  animation-name: showShare;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.post-single .wrap-description {
  padding: 0;
}

.post-single .post-header {
  padding: 10px 20px;
}

.post-single .post-controls {
  padding: 19px 20px;
}

.post-single .list-scroll__view {
  padding: 0 20px;
  overflow: hidden;
}

.post__description-container {
  position:relative;
  background:#fff;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
}

.list-scroll {
  order: 2;
}

.post-single .post-comment {
  position: relative;
  order: 1;
}

.post-single .comment-text {
  word-break: break-word;
}

.display--none {
  display: none;
}

.user-panel {
  z-index: 2;
}

.position--unset {
  position: unset;
}

.heading-lead {
  margin-top: 3rem;
}

.pic {
  background-size: cover;
  background-position: center center;
}

.post-comment {
  padding : 20px;
}

.youtube-embed {
  margin: 3rem 0 5rem 0;
  border-radius: 25px;
  display: inline-flex;
  overflow: hidden;
}

.about {
  margin: 60px auto;
  max-width: 550px;
}

.about__heading {
  padding: 1rem 2rem;
}

.about__list {
  padding: 0 3rem 2rem 3rem;
}

.user-wrap .pic {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.lnk-more:before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 20px;
  transform: translateX(-100px);
  background: linear-gradient(270deg,#fff 2%,transparent);
}

.lnk-more:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 20px;
  background: white;
}

.font--small {
  font-size: 1rem;
}

.required-star {
  position: absolute;
  transform: translate(3px,0px);
}

.modal-like {
  z-index: 1050;
}

.modal-like ~ .modal-backdrop {
  z-index: 1045;
}

.likes-modal__content {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
  max-height: 98vh;
}

.user-list {
  margin: 1rem;
  overflow: scroll;
}

.modal-like__body {
  position: relative;
  min-height: 150px;
}

.collapse-opened {
  height: 100%;
}

.collapse-closed {
  position: relative;
  overflow: hidden;
  max-height : 58px;
}

.collapse-closed  .lnk-more {
  background: white;
  position: absolute;
  top: 41px;
  right: 75px;
}

.collapse-opened  .lnk-more{
  display: none;
}

.card-preview {
  height: 61px;
  overflow: hidden;
  margin-bottom: 15px;
}

.rotate-button {
  position: relative;
  height: 150px;
  margin-top: 50px;
  cursor: pointer;
}

.container_action-info {
  margin: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to left, #f1da36, #fefcea, #f1da36);
  text-align: right;
  z-index: 2;
}

.shape-close-button {
  margin-top: 39px;
  margin-right: 33px;
  width: 22px;
  height: 22px;
  border-radius: 1px;
  cursor:pointer;
}

.content_action-info {
  display: inline-block;
  margin-top: 39px;

}

@media (max-width: 430px) {
  .message_action-info {
    margin-top: 10px;
    font-size: 10px;
  }

  .title {
    font-size: 11px;
  }
}

@media (min-width: 430px) and (max-width: 517px) {
  .message_action-info {
    margin-top: 10px;
    font-size: 12px;
  }

  .title {
    font-size: 14px;
  }
}

@media (min-width: 517px) and (max-width: 585px) {
  .message_action-info {
    margin-top: 10px;
    font-size: 13px;
  }

  .title {
    font-size: 15px;
  }
}

@media (min-width: 585px) and (max-width: 680px) {
  .message_action-info {
    margin-top: 12px;
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }
}

@media (min-width: 680px) and (max-width: 1362px) {
  .message_action-info {
    margin-top: 10px;
    font-size: 15px;
  }

  .title {
    font-size: 17px;
  }
}

@media (min-width: 1362px) {
  .message_action-info {
    margin-top: 20px;
    font-size: 16px;
  }

  .title {
    font-size: 18px;
  }
}
