.buttons-wrapper_fsf {
    display: flex;
    color: #ffffff;
    font: 12px OpenSans-Semibold;
    position: absolute;
    bottom: 14px;
    left: 50%;
    background: black;
    border-radius: 4px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transform: translateX(-50%);
}

.button_fsf {
    display: flex;
    align-items: center;
}

.button_fsf_esc {
    display: flex;
    align-items: center;
}

.text_fsf {
    margin: 0;
    padding: 0 16px 0 10px;
}

.button_fsf_esc .text_fsf {
    padding-right: 0;
}

.escape-img_fsf {
    width: 26px;
    height: 22px;
    background: url(/images/esc.svg);
}

.like-img_fsf {
    width: 46px;
    height: 22px;
    background: url(/images/enter.svg);
}

.arrow-left-img_fsf {
    width: 22px;
    height: 22px;
    background: url(/images/arrow-left.svg);
}

.arrow-right-img_fsf {
    width: 22px;
    height: 22px;
    background: url(/images/arrow-right.svg);
}

.post__image-container .buttons-wrapper_fsf {
    transition: .3s opacity ease;
    opacity: 0;
}

.post__image-container:hover .buttons-wrapper_fsf {
    opacity: 1;
}
