.back_mod {
  min-width: 100%;
  min-height: 100%;
  height: 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.7);
  overflow-y: auto;
  overflow-x: hidden;
}

.container_mod {
  background-color: #fff;
  border-radius: 4px;
}

.container-full-screen_mod {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.close_mod {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  background-size: 4.4em 47.2em;
  background: url('/static/images/sprite_svg1910.svg') no-repeat -.2em -5.49em;
}

@media screen and (max-width: 815px) {
  .container_mod {
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100%;
  }
  .post__description-container {
    min-width: 100vw;
  }
}
@media screen and (min-width: 1024px) {
  .close_mod {
    top: 12px;
    right: 12px;
  }
}
