.title_send-bid-mod {
    display: flex;
    justify-content: space-between;
    font: 14px OpenSans-Semibold;
    border-bottom: 1px solid #f4f4f6;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.title_send-bid-mod a:hover {
    opacity: .6;
}

.body_send-bid-mod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.bot-logo_send-bid-mod {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid #ffffff;
    margin-right: 20px;
    background: center no-repeat;
    background-size: cover;
}

.bot-logo_send-bid-mod::after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    border: 1px solid #f0f0f0;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    border-radius: 50%;
}

.timer-wrapper_send-bid-mod {
    width: 320px;
    height: 40px;
    padding: 0 10px;
    border-radius: 6px;
    background-color: #fafafa;
}

.promise-about-key_promote-mod {
    height: 30px;
    padding: 0 10px;
    border-radius: 6px;
    background-color: #fafafa;
    font: 10px OpenSans-Regular;
    color: #979b9e;
    margin-bottom: 20px;
}

.red-timer_send-bid-mod {
    color: #e74800;
}

.blocked-timer_send-bid-mod {
    opacity: .25;
    cursor: default;
    pointer-events: none;
}

.load-instead-timer_send-bid-mod {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #979b9e;
}

.eye-switcher_promote-mod {
    width: 30px;
    height: 30px;
    background: center no-repeat;
    cursor: pointer;
    margin: 0 0 30px 10px;
}

@media (max-width: 510px) {
    .body_send-bid-mod {
        flex-direction: column;
    }
    .bot-logo_send-bid-mod {
        margin: 0 0 25px 0;
    }
    .timer-wrapper_send-bid-mod {
        width: 100%;
    }
    .title_send-bid-mod {
        font: 12px OpenSans-Semibold;
    }
}