.wrapper_plag-track {
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 50vw;
    max-width: 610px;
    min-width: 495px;
}

.title-wrapper_plag-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f6;
}

.title-wrapper_plag-track p {
    margin: 0;
}

.title_plag-track {
    font: 14px OpenSans-SemiBold;
    color: #0f181e;
}

.image_plag-track {
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.description_plag-track {
    font: 14px OpenSans-Regular;
    color: #0f181e;
    margin-bottom: 12px;
}

.sub-descrip_plag-track {
    font: 12px OpenSans-Regular;
    color: #979b9e;
    padding-bottom: 20px;
}

.guidelines_plag-track {
    font: 14px OpenSans-Regular;
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #f4f4f6;
    border-bottom: 1px solid #f4f4f6;
}

.buttons_plag-track {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons_plag-track button {
    font: 12px OpenSans-Regular;
    padding: 11px 26px;
}

@media (max-width: 495px) {
    .wrapper_plag-track {
        width: 100vw;
        min-width: 250px;
        border-radius: 0;
    }

    .buttons_plag-track {
        flex-direction: column;
    }

    .buttons_plag-track button:last-child {
        margin-top: 15px;
    }
}
