.actions-buttons_comment .container_likes {
    font: 12px OpenSans-Regular;
}

.container_likes {
    transition: color .15s ease;
    font: 12px OpenSans-Regular;
}

.container_likes:hover {
    cursor: pointer;
    color: #979b9e;
}

.no-likes-flags_likes {
    color: rgb(151, 155, 158);
    font: 12px OpenSans-Regular;
}
