.container_likes {
    cursor: pointer;
    transition: color .15s ease;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container_likes:hover {
    color: #979b9e;
}
