.actions-buttons_comment .container_likes {
    font: 12px OpenSans-Regular;
}

.container_likes {
    transition: color .15s ease;
    display: flex;
    font: 12px OpenSans-Regular;
    justify-content: flex-start;
    align-items: center;
}

.container_likes:hover {
    cursor: pointer;
    color: #979b9e;
}
