.container_push-msg {
    position: fixed;
    z-index: 1100;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    min-width: 50vw;
}

.body_push-msg {
    position: relative;
    z-index: 1;
    padding: 20px;
    transition: .5s ease;
}

.text-wrap_push-msg {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    border-radius: 100px;
    padding: 20px 30px;
    background: rgba(0, 0, 0, .9);
    line-height: 20px;
    color: #fff;
    font-size: 14px;
}

.will-close_push-msg.body_push-msg {
    opacity: 0;
    transition: 1s ease;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container_push-msg {
        min-width: 60vw;
    }
}

@media (max-width: 767px) {
    .container_push-msg {
        min-width: 85vw;
    }
    .text-wrap_push-msg {
        border-radius: 16px;
        padding: 20px;
    }
}