.container_wal-pop-tem {
    width: 500px;
    max-width: 100vw;
    background-color: white;
    border-radius: 10px;
    padding: 25px 30px 20px 30px;
}

.header_wal-pop-tem {
    height: 45px;
    border-bottom: 1px solid #f4f4f6;
    font: 14px OpenSans-Bold;
    color: #0f181e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.username_wal-pop-tem {
    color: #e74800;
}

.username_wal-pop-tem a:hover {
    opacity: .6;
}

.body_wal-pop-tem {
    border-bottom: 1px solid #f4f4f6;
}

.buttons_wal-pop-tem {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.buttons_wal-pop-tem > button {
    margin: 0 0 0 10px;
}

@media (max-width: 400px) {
    .buttons_wal-pop-tem {
        justify-content: center;
    }
}