.wrapper_promote-mod {
    display: block;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px 30px 20px 30px;
}

.title_promote-mod {
    font: 14px OpenSans-Semibold;
    padding-bottom: 25px;
    border-bottom: 1px solid #f4f4f6;
}

.label_promote-mod {
    padding-bottom: 6px;
    margin: 0;
    font: 12px OpenSans-Regular;
    color: #979b9e;
}

.body_promote-mod {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.balance_promote-mod {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 210px;
    border-radius: 6px;
    background-color: #f5f5f5;
    color: #0f181e;
}

.balance-value_promote-mod {
    color: #e74800;
}

.select-wrapper_promote-mod {
    width: 210px;
    position: relative;
    margin-right: 20px;
}

.select_promote-mod {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #f4f4f6;
}

.select-wrapper_promote-mod::before {
    content: '';
    position: absolute;
    background: url('/images/promoteModal/select-arrows.svg') center no-repeat;
    width: 8px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    pointer-events: none;
}

.select-wrapper_promote-mod::after {
    content: '';
    position: absolute;
    background-color: #f4f4f6;
    width: 1px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    pointer-events: none;
}

.input_promote-mod {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    background-color: #fafafa;
    border: solid 1px #f4f4f6;
    margin-bottom: 30px;
}

.input_promote-mod::placeholder {
    font: 14px OpenSans-Regular;
    color: #979b9e;
}

.error_promote-mod {
    position: absolute;
    bottom: 7px;
    color: #d0011b;
    font: 12px OpenSans-Regular;
}

.buttons_promote-mod {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    border-top: 1px solid #f4f4f6;
}

.buttons_promote-mod button {
    font: 12px OpenSans-Semibold;
}

.buttons_promote-mod button:first-child {
    margin-right: 20px;
}

@media (max-width: 510px) {
    .wrapper_promote-mod {
        max-width: 100vw;
    }
    .body_promote-mod {
        flex-direction: column;
        align-items: center;
    }
    .select-wrapper_promote-mod {
        margin: 0 0 20px 0;
    }
    .balance_promote-mod {
        margin-top: 10px;
    }
    .balance_promote-mod, .select-wrapper_promote-mod, .select_promote-mod {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .buttons_promote-mod button {
        font: 10px OpenSans-Semibold;
        padding: 12px 27px 12px;
    }
}
