.back_mods {
  min-width: 100%;
  min-height: 100%;
  height: 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  transition: all .3s cubic-bezier(0.1, 0.23, 0.25, 1);
}

.container_mods {
  background-color: #fff;
  border-radius: 4px;
}

.container-full-screen_mods {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.close_mods {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  background-size: 4.4em 47.2em;
  background: url('/static/images/sprite_svg1910.svg') no-repeat -.2em -5.49em;
}

@media screen and (max-width: 815px) {
  .container_mod.mobile-modals {
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100%;
    border-radius: 0 !important;
    align-self: flex-start !important;
  }
  .post__description-containers {
    min-width: 100vw;
  }
}
@media screen and (min-width: 1024px) {
  .close_mods {
    top: 12px;
    right: 12px;
  }
}

.body_modal {
  transition: all .3s cubic-bezier(0.1, 0.23, 0.25, 1);
}

.before-load_modal {
  margin-top: -200vh;
  opacity: 0;
}

.before-load-back_modal {
  opacity: 0;
}
