.container_post-m-b {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}

.container_post-m-b > img.shape_post-m-b {
  width: 16px;
  height: 4px;
  object-fit: contain;
  background-color: #979b9e;
  position: center;
}
