.wrapper_choose-steem-reg-mod {
    display: block;
    background: #ffffff;
    border-radius: 4px;
    padding: 18px;
}

.close-button_choose-steem-reg-mod {
    margin-left: 20px;
}

.title_choose-steem-reg-mod {
    display: flex;
    align-items: center;
    font: 18px OpenSans-Regular;
    margin: 0;
}

.header_choose-steem-reg-mod {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}