.checkbox-field_input-active-key {
    display: flex;
    justify-content: flex-start;
    font: 12px OpenSans-Light;
    color: #979b9e;
}


.checkbox_input-active-key {
    width: 22px;
    height: 22px;
    border: solid 1px #979b9e;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox_input-active-key + span {
    display: flex;
    align-items: center;
}

.save_input-active-key {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff2400;
}

.container_input-active-key input {
    width: 100%;
    height: 40px;
    border: solid 1px #f4f4f6;
    border-radius: 6px;
    padding-left: 10px;
    background-color: #fafafa;
    font: 14px OpenSans-Light;
    color: #979b9e;
}

.container_input-active-key input::placeholder  {
    color: #979b9e;
}

.promise-about-key_input-active-key {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #fafafa;
    font: 10px OpenSans-Regular;
    color: #979b9e;
    margin: 20px 0;
    max-width: 440px;
    text-align: center;
}