.block-in-body_advertising.closed_advertising, .closed_advertising > .wrapper_advertising {
    height: 0;
    opacity: 0;
}

.block-in-body_advertising, .wrapper_advertising {
    height: 60px;
    width: 100vw;
    transition: height .25s;
    opacity: 1;
}

.wrapper_advertising {
    position: fixed;
    top: 0;
    z-index: 12;
    background: url('/images/advertising/adverting-background.png') center;
    background-size: 200px 200px;
}

.wrapper_advertising p {
    margin: 0;
}

.text-wrapper_advertising {
    color: #ffffff;
    flex-grow: 2;
}

.text-wrapper_advertising p {
    font: 16px OpenSans-Regular;
    text-align: center;
    padding: 0 10px;
}

.text-wrapper_advertising a {
    color: #ffffff;
    text-decoration: underline;
    font: 16px OpenSans-Semibold;
}

.text-wrapper_advertising a:hover {
    color: #979b9e;
    opacity: .6;
}

.sub-wrapper_advertising {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.close-wrapper_advertising {
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-right: -10px;
}

.close_advertising {
    width: 16px;
    height: 16px;
    background: url('/images/sprite_svg1910.svg') -2px -76px no-repeat;
}

.close-wrapper_advertising:hover .close_advertising {
    background: url('/images/sprite_svg1910.svg') -2px -56px no-repeat;
}

@media (max-width: 740px) {
    .wrapper_advertising, .block-in-body_advertising {
        height: 100px;
    }

    .close-wrapper_advertising {
        margin-right: -5px;
    }
}

@media (max-width: 450px) {
    .close-wrapper_advertising {
        margin-right: 0;
    }

    .text-wrapper_advertising p {
        font: 14px OpenSans-Regular;
    }

    .text-wrapper_advertising a {
        font: 14px OpenSans-Semibold;
    }
}

@media (max-width: 350px) {
    .text-wrapper_advertising p {
        font: 12px OpenSans-Regular;
    }

    .text-wrapper_advertising a {
        font: 12px OpenSans-Semibold;
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .sub-wrapper_advertising {
        width: 100%;
        padding: 0 25px;
    }
}

@media (min-width: 768px) {
    .sub-wrapper_advertising {
        width: 740px;
    }
}

@media (min-width: 1024px) {
    .sub-wrapper_advertising {
        width: 960px;
    }
}

@media (min-width: 1362px) {
    .sub-wrapper_advertising {
        width: 1280px;
    }
}