.container_comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
    flex-grow: 1;
    font: 13px OpenSans-Light, Helvetica, Arial, sans-serif;
}

.list-scroll_comments {
    overflow: hidden;
    flex-grow: 1;
}


.list-scroll-view_comments {
    overflow: scroll;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: -15px;
    margin-bottom: -15px;
}

.list-scroll-view_comments .comment-text {
    position: relative;
    padding-right: 40px;
    min-height: 1.6em;
}

.list-scroll-view_comments .btn-like {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
}

.list-scroll-view_comments .wrap-btn {
    margin: 15px;
}

.list-scroll-view_comments .date {
    float: right;
    color: #979b9e;
    font: 12px OpenSans-Regular;
    line-height: 22px;
}

.list-scroll-view_comments .comment {
    padding: 10px 0;
}

.list-scroll-view_comments .comment-text {
    word-break: break-all;
}

.list-scroll-view_comments .user {
    font: 14px OpenSans-Regular;
    color: #0f181e;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-scroll-view_comments .user:hover {
    color: #eb443d;
    outline: 0;
}


.post-single .list_comments {
    padding-bottom: 20px
}

.comment-input-big-screen {
    flex-grow: 0;
}

@media (max-width: 815px) {

    .list_comments {
        padding: 0 20px;
    }
}
