.container_trx {
    width: 100%;
    display: flex;
}

.container_trx.even_trx {
    background-color: #fbfbfb;
}

.container_trx > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    word-wrap: break-spaces;
}

.type_trx {
    width: 150px;
    padding-left: 30px;
    flex-shrink: 0;
}

.info_trx {
    width: 220px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.type_trx, .info_trx {
    color: #0f181e;
    font: 14px OpenSans-Semibold;
}

.memo_trx {
    flex-grow: 1;
    color: #333333;
    font: 14px OpenSans-Light;
}

.date_trx {
    width: 120px;
    padding-right: 30px;
    line-height: 22px;
    color: #0f181e;
    font: 14px OpenSans-Light;
    flex-shrink: 0;
}

.container_trx > div.date_trx {
    justify-content: flex-end;
}

.container_trx span {
    white-space: nowrap;
}