.container_login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-style: normal;
    font-stretch: normal;
    font-family: OpenSans-Light, serif;
}

.welcome-container_login, .form-container_login {
    flex: 1;
}

.welcome-container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery-shadow_login {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.welcome-body_login {
    position: absolute;
    width: 530px;
    height: 400px;
    max-width: 100%;
    padding: 0 10px;
}

.welcome-title_login {
    font-size: 52px;
    font-weight: bold;

    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
}

.welcome-description_login {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    margin: 50px 0 60px;
}

.guidelines-btn_login {
    width: 220px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: solid 1px rgba(231, 231, 231, 0.2);
}

.guidelines-btn_login:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.form-body_login {
    width: 530px;
    height: 410px;
    border-radius: 10px;
    background-color: #ffffff;
}

.title_login {
    font-size: 27px;
    line-height: 1.5;
    margin-bottom: 35px;
    color: #0f181e;
    font-family: OpenSans-Light, Helvetica, Arial, sans-serif;
    text-align: center;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.btn-group_login {
    padding-top: 10px;
    text-align: right;
    margin-bottom: 28px;
}

.create-acc_login {
    display: inline-block;
    margin-bottom: 0;
    font-family: OpenSans-SemiBold, Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: #fff none;
    text-decoration: none;
    max-width: 100%;
    padding: 12px 40px 12px;
    font-size: 14px;
    line-height: 1;
    border-radius: 21px;
    color: #000000;
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #e7e7e7;
    transition: .2s all ease;
}

.create-acc_login:hover {
    color: #e74800;
}

.sign_login {
    margin-left: 20px;
}



.how-sign_login {
    margin: 0 0 1em;
    text-align: center;
}

.show-video-btn_login {
    color: #eb443d;
    cursor: pointer;
}

.video-cont_login {
    max-width: 80vw;
    width: 550px;
    height: 315px;
    margin: 35px auto;
    border-radius: 20px;
    overflow: hidden;
}


@media (max-width: 767px) {
    .container_login {
        width: 100%;
        padding: 0 15px;
    }

    .btn-group_login {
        text-align: center;
    }

    .btn-group_login > button {
        padding-left: 15px;
        padding-right: 15px;
        min-width: 120px;
        margin: 0 10px 15px;
    }
}