.container_pos-mod {
  background-color: #FFF;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1px;
  border-radius: 4px;
  overflow: hidden;
}

.image-container_pos-mod {
  background-color: #e7e7e7;
  position: relative;
  height: 100%;
  display: flex;
  order: 1;
}

.image-container_pos-mod > button {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.image-container_pos-mod:hover > button {
  opacity: 1;
}

.image-container_pos-mod > img {
  margin: auto;
  width: 100%;
}

.header_pos-mod {
  padding: 20px;
  background-color: #fff;
  oreder: 2;
}

.description_pos-mod {
  width: 380px;
  background-color: #fff;
  order: 3;
  flex-grow: 10;
}

.date_pos-mod {
  float: right;
  color: #979b9e;
  font-size: 12px;
  line-height: 22px;
}

.user_pos-mod {
  display: block;
  color: #0f181e;
  text-decoration: none;
  overflow: hidden;
  line-height: 20px;
}

.user_pos-mod:hover {
  color: #eb443d;
  outline: 0;
}

.user_pos-mod .pic {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.name_pos-mod {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
