.container_pos-mod {
  background-color: #FFF;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1px;
  border-radius: 4px;
  overflow: hidden;
}

.image-container_pos-mod {
  background-color: #e7e7e7;
  position: relative;
  height: 100%;
  display: flex;
  order: 1;
}

.image-container_pos-mod > button {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.image-container_pos-mod:hover > button {
  opacity: 1;
}

.image-container_pos-mod > img {
  margin: auto;
  width: 100%;
}

.header_pos-mod {
  padding: 20px;
  background-color: #fafafa;
  oreder: 2;
}

.description_pos-mod {
  width: 380px;
  background-color: #fff;
  order: 3;
  flex-grow: 10;
}

.date_pos-mod {
  float: right;
  color: #979b9e;
  font-size: 12px;
  line-height: 22px;
}

.user_pos-mod {
  display: block;
  color: #0f181e;
  text-decoration: none;
  overflow: hidden;
  line-height: 20px;
  float: left;
}

.user_pos-mod:hover {
  color: #eb443d;
  outline: 0;
}

.name_pos-mod {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cont-close-btn_pos-mod {
  height: 16px;
  width: 16px;
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

.close-btn_pos-mod {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(/static/images/sprite_svg1910.svg) no-repeat 0 99.8%;
}

.post-control-cont_pos-mod {
  height: 62px;
  border-top: 1px solid #f4f4f6;
  border-bottom: 1px solid #f4f4f6;
  display: flex;
  align-items: center;
}

.post-control_pos-mod {
  display: flex;
  flex: 1;
  height: 21px;
  width: 100%;
  font-size: 12px;
  line-height: 21px;
}

.post-control_pos-mod > div {
  display: flex;
  align-items: center;
}

.likes_pos-mod {
  cursor: pointer;
  transition: color .15s ease;
  margin-left: 20px;
}

.likes_pos-mod:hover {
  color: #979b9e;
}

.amount_pos-mod {
  flex: 10;
  justify-content: flex-end;
  margin-right: 20px;
}

.button_pos-mod {
  width: 55px;
  border-left: 1px solid #f4f4f6;
  justify-content: center;
}
