.share-buttons_csn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.soc-network-item_csn {
  outline: none;
  margin: 0 0 1em 0;
  padding: 0 15px;
  cursor: pointer;
  border-right: 1px solid #f4f4f6;
}

.soc-network-item_csn:hover p {
  color: rgba(235, 68, 61);
}

.soc-network-item_csn:hover .SocialMediaShareButton div {
  filter: grayscale(100%);
  opacity: .35;
}

.soc-network-item_csn:first-child {
  border-left: none;
}
.soc-network-item_csn:last-child {
  border-right: none;
}

.soc-network-item_csn .SocialMediaShareButton div {
  margin: 10px auto;
}
.soc-network-item_csn .SocialMediaShareButton {
  outline: none;
  width: 90px;
  align-items: center;
}

.share-buttons_csn p {
  text-align: center;
  padding: 0 10px;
  margin: 0;
}

.title_csn-mod {
  font: 14px OpenSans-Semibold;
  border-bottom: 1px solid #f4f4f6;
  padding: 15px;
}

.wrapper_csn-mod {
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 4px;
  min-width: 310px;
}

.footer_csn {
  border-top: 1px solid #f4f4f6;
  padding: 10px 0;
  height: 50px;
  font: 12px OpenSans-Regular;
  color: #979b9e;
  line-height: 33px;
}
.footer_csn p {
  margin: 0;
}

@media (max-width: 745px) {
  .soc-network-item_csn .SocialMediaShareButton {
    display: flex;
  }
  .soc-network-item_csn .SocialMediaShareButton div {
    margin: 10px 0;
  }
  .soc-network-item_csn {
    display: flex;
    justify-content: center;
    padding: 0 15px 1em 15px;
    border-right: none;
    border-bottom: 1px solid #f4f4f6;
    width: 100%;
  }
  .soc-network-item_csn:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  .share-buttons_csn {
    flex-direction: column;
  }
}
