.slick-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.slick-list {
    width: 100%;
}

.slick-dots {
    position: absolute !important;
    z-index: 5;
    display: flex !important;
    justify-content: center;
    margin-top: 0 !important;
    padding: 0 !important;
    bottom: 10px;
}
.slick-dots li {
    padding-left: 0 !important;
    margin: 0 3px;
}
.slick-dots li::before {
    margin-right: 0 !important;
    left: 6px !important;
    background: #ffffff !important;
    opacity: .5;
}
.slick-dots li button::before {
    color: transparent;
    height: 8px;
    width: 8px;
    background: #ffffff;
    opacity: .4;
    top: 6px;
    left: 6px;
    border-radius: 50%;
}
.slick-dots li button:hover::before {
    background: #ffffff;
    opacity: .6;
}
.slick-dots li.slick-active button::before {
    opacity: 1;
    height: 8px;
    width: 8px;
    background: #ffffff;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    color: transparent;
}
.slick-arrow.slick-prev {
    width: 40px;
    height: 40px;
    left: 15px;
    z-index: 3;
}
.slick-arrow.slick-next {
    width: 40px;
    height: 40px;
    right: 15px;
    z-index: 3;
}
.slick-arrow.slick-next::before {
    content: url('/images/arrow-next-gallery.svg');
    display: block;
}
.slick-arrow.slick-prev::before {
    content: url('/images/arrow-next-gallery.svg');
    display: block;
    transform: rotate(180deg);
}
.full-screen_sin-mod-img {
    display: flex;
    justify-content: center;
}



.left-right_img-gallery {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    opacity: .6;
}

.left-arrow_img-gallery {
    left: 10px;
    background: url('/images/arrow-next-gallery.svg') center no-repeat;
    transform: translateY(-50%) rotate(180deg);
}

.right-arrow_img-gallery {
    right: 10px;
    background: url('/images/arrow-next-gallery.svg') center no-repeat;
    transform: translateY(-50%);
}

.left-arrow_img-gallery:hover, .right-arrow_img-gallery:hover {
    opacity: 1;
}

.nav-dots-wrapper_img-gallery {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}

.nav-dot-wrapper_img-gallery {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.nav-dot_img-gallery {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #ffffff;
    opacity: .6;
}

.nav-dot_img-gallery.active-dot_img-gallery {
    background: #ffffff;
    opacity: 1;
}

.img-full-screen_img-gallery {
    max-height: 90vh;
    max-width: 85vw;
}