.empty-query-message_pos-lis {
  font-family: OpenSans-Light, Helvetica, Arial, sans-serif;
  font-size: 27px;
  line-height: 1.5;
  text-align: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

}
