.container_for-inp {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 30px;
}

.container_for-inp > label {
    position: absolute;
    left: 0;
    margin: 0;
    transition: top .2s ease,font .2s ease;
    color: #979b9e;
    line-height: 1.6;
    top: 10px;
}

.container_for-inp.focused_for-inp > label {
    top: -15px;
    font-size: 11px;
}

.container_for-inp > input {
    width: 100%;
    height: 42px;
    padding: 9px 0;
    line-height: 1.6;
    background: transparent none;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    transition: border-color ease-in-out .15s;
    outline: none;
}

.container_for-inp > input:hover {
    outline: 0;
    border-color: #b8c0c3;
}

.container_for-inp.error_for-inp > input {
    border-color: #d0011b;
}

.container_for-inp > input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fafafa !important;
}

.error-msg_for-inp {
    color: #d0011b;
    margin-top: 10px;
    line-height: 1.09091;
    font-size: 12px;
}