.container_switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_switcher > label {
    font-size: 16px;
    color: #0f181e;
    margin-bottom: 0;
}

.input-container_switcher {
    width: 60px;
    height: 30px;
    margin: 0 20px;
    border-radius: 15px;
    background-color: #fafafa;
    border: solid 1px #f4f4f6;
    padding: 5px;
    cursor: pointer;
}


.left_switcher, .right_switcher {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: .2s;
}

.left_switcher {
    background-color: #ff1e00;
    margin: -1px 0 0 0;
}

.right_switcher {
    background-color: #4a90e2;
    margin: -1px 0 0 30px;
}

@media (max-width: 385px) {
    .container_switcher {
        margin-bottom: 20px;
    }
}