.container_edi-pos {
    width: 100%;
    height: 100%;
    max-width: 750px;
    padding: 10px;
    margin: auto;
}

.wrapper_edi-pos {
    position: relative;
    height: 100%;
}

.image-container_edi-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    min-height: 200px;
    border-radius: 10px;
    border: 1px dashed #e7e7e7;
    background: #f5f5f5;
}

.choose-container_edi-pos {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-input_edi-pos {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    opacity: 0;
    top: 0;
    cursor: pointer;
}

.upload-icon_edi-pos {
    background-size: 4.4em 47.2em;
    background: url(/images/sprite_svg1910.svg) no-repeat -.2em -18.75em;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.upload-text_edi-pos {
    margin-top: 15px;
    text-align: center;
    color: #979b9e;
    line-height: 1.4;
    user-select: none;
}

.image_edi-pos {
    display: block;
}

.rotate-button_edi-pos {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5) url('/images/rotate-button.svg') no-repeat 50%;
    transition: all .2s ease;
}

.buttons-container_edi-pos {
    margin: 40px 0 20px;
    text-align: right;
}

.buttons-container_edi-pos button {
    font: 12px OpenSans-Semibold;
    margin: 15px;
}

.buttons-container_edi-pos .btn[disabled] {
    opacity: .25;
}

.image-error_edi-pos {
    margin-top: 10px;
    color: #d0011b;
    font-size: 12px;
}

.blur-blocker_edi-pos {
    pointer-events: none;
    background-color: #ffffff;
    opacity: 0.4;
}

.img-not-found_edi-pos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-not-found-text_edi-pos {
    margin-bottom: 20px;
    color: #000;
    font: 27px OpenSans-Light;
}

.drag-hover_edi-pos {
    border: 1px solid #1294f6;
    box-shadow: 0 0 0 2px #1294f6;
    border-radius: 6px;
}

@media (max-width: 750px) {
    .container_edi-pos {
        width: 90vw;
        padding: 10px;
        margin: auto;
    }
}

@media (max-width: 450px) {
    .buttons-container_edi-pos {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .buttons-container_edi-pos .btn-default {
        margin: 0;
    }
}
