.container_edi-pos {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 750px;
  padding: 10px;
  margin: auto;
}

.image-container_edi-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  min-height: 200px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px dashed #e7e7e7;
  background: #f5f5f5;
}

.choose-container_edi-pos {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
}

.file-input_edi-pos {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0;
  top: 0;
  cursor: pointer;
}

.upload-icon_edi-pos {
  background-size: 4.4em 47.2em;
  background: url(/static/images/sprite_svg1910.svg) no-repeat -.2em -18.75em;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.upload-text_edi-pos {
  margin-top: 15px;
  text-align: center;
  color: #979b9e;
  line-height: 1.4;
  user-select: none;
}

.image_edi-pos {
  display: block;
}

.rotate-button_edi-pos {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url('/static/images/rotate_button.png') no-repeat 50%;
  transition: all .2s ease;
}

.buttons-container_edi-pos {
  margin: 40px 0 20px;
  text-align: right;
}


.buttons-container_edi-pos .btn-default {
  margin-left: 15px;
}

.image-error_edi-pos {
  margin-top: 10px;
  color: #d0011b;
  font-size: 12px;
}

.blur-blocker_edi-pos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transform: 1s;
  filter: blur(1.05px) grayscale(50%);
  background-color: #fff;
  opacity: 0.4;
}

@media (max-width: 750px) {
  .container_edi-pos {
    width: 90vw;
    padding: 10px;
    margin: auto;
  }
}
