.btn.btn-copy-link {
    width: 110px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font: 12px OpenSans-SemiBold;
}

.btn.btn-copy-link:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.btn.btn-copy-link.clicked {
    background-color: #69b610;
}